@use "font.scss" as *;
@use "vuetify-overide.scss" as *;
@use "mixins.scss" as *;
@use "variables.scss" as *;

* {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: $text-size;
  letter-spacing: 0.02em;
}

.w-100 {
  width: 100% !important;
}

.v-application {
  background: $bg-card !important;
}

.page-full-container{
  margin: 40px auto;
  max-width: 1800px;
  width: 100%;
}

.page-container {
  max-width: 1200px;
  margin: 40px auto;
  width: 100%;
}

.page-mini-container {
  max-width: 800px;
  margin: 40px auto;
  width: 100%;
}
@media (min-width: 1200px) {
  .page-full-container, .page-container, .page-mini-container{
    padding: 0 100px;
  }
}
.max-w-1200 {
  max-width: 1200px;
}

.max-w-800 {
  max-width: 800px;
}

.max-w-500 {
  max-width: 500px;
}


.radius-20 {
  border-radius: 20px !important;
}

input {
  font-size: $text-size !important;
}

input:read-only:not([type="checkbox"]) {
  cursor: not-allowed !important;
}

.text-muted {
  color: rgba(0,0,0, .5);
}

.text-muted-light {
  color: rgba(255,255,255, .8);
}
