$primary: #2196f3;
$primary-dark: #3f51b5;
$secondary: #ffc107;
$bg-card: #f4f5fb;
$bg-input: #F5F6FD;

$text-color: rgba(0, 0, 0, 0.87);
$text-size: 13px;

$body-padding: 10px;
$sidebar-width: 300px;
$main-content-left-offset: $sidebar-width + $body-padding;

$header-height: 100px;